{% extends "/Trader/base.html" %}
{#{% load static %}#}

{% block more_css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
            integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <div style="padding: 40px">
        <div style="margin-left: 470px;padding: 20px; display: inline-block;background-color: #d8ffde; height: 100px; width: 250px; text-align: center">
            <h5>Total Spending</h5>
            <h6>{{ TotalIncome }}</h6>

        </div>
        <div style="margin-left: 50px;padding: 20px; display: inline-block;background-color: #d8ffde; height: 100px; width: 250px; text-align: center">
            <h5>Total Trade Charges</h5>
            <h6>{{ MonthIncome }}</h6>
        </div>
        <div style="margin-left: 50px;padding: 20px; display: inline-block;background-color: #d8ffde; height: 100px; width: 250px; text-align: center">
            <h5>Total Transactions</h5>
            <h6>{{ TotalTax }}</h6>
        </div>
    </div>
    <div
         style="height: 500px; width: 500px; color: #4f835b;background-color: #d8ffde;  padding:40px;margin-left: 400px; margin-top: 30px; display: inline-block">
        <h3>Monthly Income</h3>

        <canvas id="chart" width="400" height="400"></canvas>
        <script>
            // bar chart data
            var barData = null
            barData = {
                labels: [
                    {% for item in labels %}
                        "{{ item }}",
                    {% endfor %}
                ],

                datasets: [{
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgb(61,169,60,0.5)",
                    pointColor: "rgb(25,56,205)",
                    data: [
                        {% for item in values %}
                            "{{ item }}",
                        {% endfor %}
                    ]
                }
                ]
            };

            var mychart = null
            mychart = document.getElementById("chart").getContext("2d");

            steps = 10;
            max = {{max}}

                // draw bar chart
                new Chart(mychart).Bar(barData, {
                        scaleOverride: true,
                        scaleSteps: steps,
                        scaleStepWidth: Math.ceil(max / steps),
                        scaleStartValue: 0,
                        scaleShowVerticalLines: true,
                        scaleShowGridLines: true,
                        barShowStroke: true,
                        scrollbars: true,
                        scrolling: scrollX,
                        scaleShowLabels: true,
                    }
                );


        </script>
    </div>

    <div
         style="height: 500px; width: 500px; color: #4f835b;background-color: #d8ffde;  padding:40px;margin-left: 100px; margin-top: 30px; display: inline-block">
        <h3>Amount of each crop sold</h3>

        <canvas id="chart1" width="400" height="400"></canvas>
        <script>
            // bar chart data
            var barData1 = null
            barData1 = {
                labels: [
                    {% for item in labels1 %}
                        "{{ item }}",
                    {% endfor %}
                ],

                datasets: [{
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgb(61,169,60,0.5)",
                    pointColor: "rgba(151,187,205,1)",
                    data: [
                        {% for item in values1 %}
                            "{{ item }}",
                        {% endfor %}
                    ]
                }
                ]
            };

            var mychart1 = null
            mychart1 = document.getElementById("chart1").getContext("2d");

            steps1 = 10;
            max1 = {{max1}}

                // draw bar chart
                new Chart(mychart1).Bar(barData1, {
                        scaleOverride: true,
                        scaleSteps: steps,
                        scaleStepWidth: Math.ceil(max1 / steps1),
                        scaleStartValue: 0,
                        scaleShowVerticalLines: true,
                        scaleShowGridLines: true,
                        barShowStroke: true,
                        scrollbars: true,
                        scrolling: scrollX,
                        scaleShowLabels: true,
                    }
                );

        </script>
    </div>
    <div id="mymodal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align: center">Register For Policy</h4>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('add_storage_space') }}" method="POST">
                        <div class="form-group">
                            <label>Policy ID:</label>
                            <input type="text" class="form-control" name="Storage_Id" required="1">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Register for policy</button>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}