{% extends '/Trader/base.html' %}
{% block content  %}

<div class = "container p-5" style="margin-left:290px;">
    <div class="well text-center" style="margin-top:15px">
        <h2 style="color: #094f0e;">My Transactions</h2>
    </div>
    <form method = 'POST' >
        <div class = "container d-flex justify-content-center align-items-center">

            <div class = "m-3">
                <label for="seller_Id">Choose a Farmer</label>
                <select name="seller_Id" id="seller_Id">
                    {% for farmer in farmers %}
                    {% if seller_Id == farmer.User_Id_Linked %}
                    <option value="{{farmer.User_Id_Linked}}" selected = "selected">{{farmer.User_Id_Linked  }}</option>
                    {% else %}
                    <option value="{{farmer.User_Id_Linked}}">{{farmer.User_Id_Linked  }}</option>

                    {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div class = "m-3">
                <label for="date1">Date(After):</label>
                <input type="date" id="date1" name="date1">
            </div>

            <div class = "m-3">
                <label for="date2">Date(Before):</label>
                <input type="date" id="date2" name="date2">
            </div>
            <button type="submit" class = "btn btn-success"> Search </button>
        </div>
    </form>
</div>

<div class = "container" style="margin-left:290px; height: 300px; overflow-y: auto">

    <div class = "table-responsive " >

        <table class="table table-striped">
            <thead>
            <tr>
                {% for i in columns %}
                <th scope="col" class="table-boot1">{{i}}</th>
                {% endfor %}

            </tr>
            </thead>
            <tbody>
            {% for i in table%}
            <tr>
                <td class="table-boot">
                    {{i.Transaction_Id}}
                </td>
                <td class="table-boot">
                    {{i.Crop_Id}}
                </td>
                <td class="table-boot">
                    {{i.buyer_Id}}
                </td >
                <td class="table-boot">
                    {{i.seller_Id}}
                </td>
                <td class="table-boot">
                    {{i.Amount}}
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>
{% endblock %}