<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>AgroMetrics</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/Homepage.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="file:///E:/jquery.js"></script>
  </head>
  <body>
    <nav>
      <div class="logo"><img src="{{ url_for('static',filename='styles/growth.png') }}" style="width:50px;height:50px; margin-right:20px; margin-top:5px">AgroMetrics</div>
      <label for="btn" class="icon">
        <span class="fa fa-bars"></span>
      </label>
      <input type="checkbox" id="btn">
      <ul>
        <li><a href="/about_team">About Team</a></li>
        <li><a href="/about">About</a></li>
        <li>
          <label for="btn-1" class="show">SignUp +</label>
          <a href="#">SignUp</a>
          <input type="checkbox" id="btn-1">
          <ul style="background: #19bd79">
            <li><a href="/Farmer_signUp">Farmer</a></li>
            <li><a href="/FPO_signUp">FPO</a></li>
            <li><a href="/Mandi_Board_signUp">Mandi Board</a></li>
            <li><a href="/Trader_signUp">Trader</a></li>
            <li><a href="/Analyst_signUp">Analyst</a></li>
          </ul>
        </li>
        <li>
          <label class="show">Login</label>
          <a href="/check_login_info">Login</a>
        </li>

      </ul>
    </nav>
    <div class="main_content">

      <div class="info" style="font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace; font-size: 20px;margin: 50px;color: white;">
          <p style="position: fixed;top: 38%;left: 38%;font-size:60px;font-weight:bold">AgroMetrics</p>
          <h1 style="position: fixed;top: 50%;left: 35%;">A New Farm Perspective </h1>
      </div>
    </div>
    <div class="bottom-bar">
        <p style="width:30%; font-size:22px;color:white;margin-top:5px;margin-left:20px">Designed by IIITD Students</p>
		<p style="color:white; font-size:18px;width: 15%;cursor: pointer;margin-left:80%;margin-bottom:10px">agrometrics@gmail.com</p>
	  </div>

    <script>
      $('.icon').click(function(){
        $('span').toggleClass("cancel");
      });
    </script>

  </body>
</html>
